@font-face {
  font-family: 'Gotham';
  src : url('../fonts/gotham-light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Gotham';
  src : url('../fonts/gotham-book.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src : url('../fonts/gotham-bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham';
  src : url('../fonts/gotham-black.woff2') format('woff2');
  font-weight: 800;
}

.f {
  &-gotham { font-family: $font-gotham !important; }
  &-light { font-weight: 300 !important; }
  &-book { font-weight: 400 !important; }
  &-bold { font-weight: 700 !important; }
  &-black { font-weight: 800 !important; }
  &-shadow { text-shadow: #000 0.1em 0.1em 0.2em; }
}