img.img-fill-width {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 100%;
}
img.img-fill-height {
    object-fit: cover;
    height: 100%;
    width: auto;
    max-width: 100%;
}